{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <a href="" class="btn btn-primary">give rating</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <a href="" class="btn btn-primary">give rating</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}